{% extends 'layout/layout.html' %}


{% block content %}
    <link href="../../static/css/pages/join-login.css" rel="stylesheet" type="text/css" />
    <script src="../../static/js/controller/dom.controller.js"></script>
    <script src="../../static/js/validator/form.validaor.js"></script>
    <script src="../../static/js/join.js"></script>
    
    <div class="container" id="join_container">

        <div id="join_inner_container">
            <!-- {#bg-light#} -->
            <div class="p-5 text-center">
                <h5 onclick="location.href = location.origin + '/'">돌아가기</h5>
                <h2 class="mb-2">취향저격 카페 찾기</h2>
            </div>

            <div class="form-floating mb-4">

                <input type="text" class="form-control input_element" id="name" placeholder="이름">
                <label for="name">이름</label>

            </div>

            <!-- 비밀번호 -->
            <div class="form-floating mb-3">

              <input type="password" class="form-control input_element" id="password" name="password" placeholder="비밀번호">
              <label for="password">비밀번호</label>

            </div>

            <!-- 비밀번호 확인 -->
            <div class="form-floating mb-3">

              <input type="password" class="form-control input_element" id="passwordConfirm" placeholder="비밀번호">
              <label for="passwordConfirm">비밀번호 확인</label>

            </div>

            <div class="form-validate-messenger">
            </div>

            <div class="p-5 text-center">
                <button id="form_submit" class="btn btn-primary mb-1" role="button"
                    onclick="postJoin()">회원가입</button>
                <h6 class="mb-3">
                    <a href="/login">회원 이라면? ></a>
                </h6>
            </div>

        </div>

    </div>

{% endblock %}