{% extends 'layout/layout.html' %}


{% block content %}
    <!-- <link href="../static/css/result.css" rel="stylesheet" type="text/css" /> -->
    <script src="../../static/js/login.js"></script>

    <div class="container" stlye="
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    ">

        <div style="width:70%; margin: 0 auto;">
            {#bg-light#}
            <div class="p-5 text-center">
                <h2 class="mb-2">캡슐커피</h2>
                <h5>취향저격</h5>
            </div>

            <div class="form-floating mb-3">

              <input type="text" class="form-control" id="name" placeholder="이름">
              <label for="name">이름</label>

            </div>

            <!-- 비밀번호 -->
            <div class="form-floating mb-3">

              <input type="password" class="form-control" id="password" placeholder="비밀번호">
              <label for="password">비밀번호</label>

            </div>

            <div class="p-5 text-center">
                <button class="btn btn-primary mb-1" role="button"
                    onclick="postLogin()">로그인하기</button>
                <h6 class="mb-3">
                    <a href="/join">회원이 아니시라면? ></a>
                </h6>
            </div>
        </div>

    </div>

{% endblock %}