{% extends 'layout/layout.html' %}


{% block content %}
    <link href="../../static/css/pages/join-login.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/components/full-image.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/components/header.css" rel="stylesheet" type="text/css" />

    <script src="../../static/js/controller/dom.controller.js"></script>
    <script src="../../static/js/validator/form.validaor.js"></script>
    <script src="../../static/js/login.js"></script>

    <img src="../../static/index.png" class="image" />

    <div class="container" id="login_container">

        <div id="login_inner_container">
            {#bg-light#}
            <div class="p-5 text-center">
                <h5 onclick="location.href = location.origin + '/'">돌아가기</h5>
                <h2 class="mb-2">취향저격 커피찾기</h2>
            </div>

            <div class="form-floating mb-3">

                {% if name %}
                    <input type="text" class="form-control" id="name" name="name" placeholder="이름" value="{{ name }}" />
                {% else %}
                    <input type="text" class="form-control" id="name" name="name" placeholder="이름" />
                {% endif %}
                
              <label for="name">이름</label>

            </div>

            <!-- 비밀번호 -->
            <div class="form-floating mb-3">

              <input type="password" class="form-control" id="password" placeholder="비밀번호">
              <label for="password">비밀번호</label>

            </div>
            
            <div class="form-validate-messenger">
            </div>

            <div class="p-5 text-center">

                <button type="button" class="btn btn-outline-warning mb-2 header_button form_button form_button-invalid"
                    onclick="postLogin()">로그인하기</button>

                <br>
                <button class="btn btn-outline-warning mb-2 header_button form_button"
                    onclick="location.href = location.origin + '/join'">회원이 아니시라면?</button>

            </div>
        </div>

    </div>

{% endblock %}