body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin-top: 20px;
    max-widthwidth: 1080px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header + {
    margin-bottom: 30px;
}

.card-box > div {
    width: 1000px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.image-btn{
    border: 1px solid gray;
}
.image-btn:hover{
    border: 1px solid black;
}
.hidebtn{
    width: 500px;
    background: cornsilk;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}
.serch-box{
    width: 0px auto;
    display: none;
    margin: 10px;
    width: 30%;
}
.serch-box label{
    margin-top: 5px;
}
.zeroCard{
    margin-top: 50px;
    width: auto;
    padding-left: 300px;
    border: 1px solid black;
    border-radius: 20px;
    color: hotpink;
    display: flex;
    flex-direction: column;
    align-items: center;
}
