.wrap {
    width: 100vw;
    height: 100vh;


    display: flex;
    align-items: center;
    justify-content: center;

    background-image: cover;
}

.btn btn-outline-warning {
    margin: 20px auto 0 auto;
}