<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset='utf-8'>
    <meta name='description' content={{description}}>
    <link rel='shortcut icon' href='/favicon.ico'>
  </head>

  <body>

    {% block content %}

    {% endblock %}

  </body>

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

</html>